.HeaderTwo {
  position: absolute;
  width: 430px;
  height: 50px;
  left: 182px;
  top: 120px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 50px;
  /* identical to box height, or 104% */

  color: #2b416c;
}
